{% extends 'base.html' %}
{% block title %}{{ course }}{% endblock %}
{% block nav_title %}{{ course }}{% endblock %}
{% block nav_button_icon %}back{% endblock %}
{% block nav_button %}onclick="window.location.href='/'"{% endblock %}

{% block content %}
    <div id="course">
        {% for k, v in enum(groups.values()) %}
            {% for a, b in enum(v.items()) %}
                <div class="section {% if a != 0 and (a != len(v) - 1 or a % 2 == 0) %}half{% endif %}">
                    <div class="section-content {% if b[1].status == 1 %}active{% elif b[1].status == 0 %}locked{% endif %}"
                         {% if b[1].status != 0 %}onclick="window.location.href+='/{{ b[0] }}'"{% endif %}>
                        <div class="elevating-shadow {% if b[1].status != 0 %}medium{% endif %}"><i
                                class="material-icon">{{ b[1].icon }}</i></div>
                        <span>{{ b[1].name }}</span>
                    </div>
                </div>
            {% endfor %}
        {% endfor %}
    </div>
{% endblock %}